
body {
  font-family: monospace;
  color: green;
}

.background    { 
  background: black;
  background-image: url("assets/starscape.jpg");
  table-layout: fixed;
  border-spacing: 0;              
}

.background td { padding: 0;                     }

.game {
  overflow: hidden;
  /*max-width: 600px;
  max-height: 450px;*/
  position: relative;
}
.HardWall { background: brown; }
.SoftWall { background: yellow; }

.projectile		 { 
	position: absolute;
	background: blue; }

.launcher { 
	position: absolute;
	background: blue;              
	}

.active { 
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100; 
}

.target				 { 
	position: absolute;	
	background: white;
						 
}

.messenger {
	position: absolute;
	top: 10px;
	left: 20%;
	max-width: 50%;
	padding: 10px 20px;
  font-family: monospace;
  font-size: 3em;
}

.messenger-hidden {
	position: absolute;
	top: 10px;
	left: 10px;
	max-width: 200px;
	padding: 10px 20px;
	opacity: 0;
}