
body {
  font-family: monospace;
  background-image: url("assets/starscape.jpg");
  color: #008000;
}

.background    { 
  background: black;
  background-image: url("assets/starscape.jpg");
  table-layout: fixed;
  border-spacing: 0;              
}

.background td { padding: 0;                     }

.controls {
  opacity: 100;
  font-size: 1.5em;
  text-align: center;
}

.controls-hidden {
  opacity: 0;
}

.data {
  color: white;
}

fieldset legend {
  text-transform: uppercase;
}

#fire-group {
  padding-left: 0;
  text-align: left;
}

.game {
  overflow: hidden;
  /*max-width: 600px;
  max-height: 450px;*/
  position: relative;
}
.HardWall { background: #A52A2A; }
.SoftWall { background: yellow; }

.hidden { 
  opacity: 0;
}

.hit-final {
  background-image: url("assets/explosion3.gif");
  background-position: center;
  background-size: contain;
}

.hit-normal {
  background-image: url("assets/explosion.gif");
  background-position: center;
  background-size: contain;
}

.projectile		 { 
	position: absolute;
	background: blue; }

.launcher {
  position: absolute;
}

.launch-pic-div {
  position: absolute;
  width: 75px;
  height: 75px;
  z-index: 1000;
}

.active { 
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100; 
}

.target				 { 
	position: absolute;	
	background: white;
}

.target-pic-div {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 99;
}

.messenger {
	position: absolute;
  background-color: black;
	top: 10px;
	left: 20%;
	max-width: 50%;
	padding: 10px 20px;
  font-family: monospace;
  font-size: 2.25em;
}

.messenger-final {
  position: absolute;
  background-color: black;
  padding: 10px 20px;
  font-family: monospace;
  font-size: 2.25em;

}

.messenger-hidden {
	position: absolute;
	top: 10px;
	left: 10px;
	max-width: 200px;
	padding: 10px 20px;
	opacity: 0;
}